@import url(fonts.css);

body {
    background: #FDFDFD;
    color: #34495e;
    font-family: 'LinuxLibertine', sans-serif;
    font-size: 21px;
    padding-top: 100px;
}

h1 {
    font-family: 'LinBiolinum', sans-serif;
    font-size: 39px;
    margin: 8px;
}

h1 a {
    color: inherit;
}

h1 a:hover {
    background-image: none;
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0 0 25px 0;
}

a {
    color: #F9690E;
}

a:hover {
    color: #F9690E;
    text-decoration: none;
    background-image: radial-gradient(ellipse at center, rgba(249,105,14,1) 0%, rgba(255,255,255,0) 90%);
    background-size: 100% 10%;
    background-repeat: repeat-x;
    animation: rotate-bg 10s infinite linear;
}

.container,
.container-fluid {
    max-width: 1200px;
}

.navbar-default {
    background: #D35400;
    background-image: none;
    box-shadow: none;
    border-bottom: 15px solid #E5E5E5;
    color: #e5e5e5;
}

.navbar-default ul {
    margin: 10px 0 0 0;
}

.navbar-default .navbar-nav > li > a {
    color: #e5e5e5;
    padding: 0 15px;
    font-size: 40px;
    transition: 0.35s;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #34495E;
    font-size: 48px;
    padding: 0 11.5px;
    background-image: none;
}

.navbar-toggle {
    border: none;
    color: #e5e5e5;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

@media (max-width: 768px) {
    .navbar-nav {
        margin: 0;
    }

    .nav > li > a {
        display: inline;
    }
}

.summary article {
    margin: 0 0 50px 0;
    background-color: #F1F1F1;
    border: 1px solid;
    padding: 0 10px 10px 10px;
}

article *::selection {
    background: #cf5300;
    color: #e5e5e5;
}

article h2 {
    margin: 0;
    padding: 11px 0 5px 0;
    text-align: center;
}

article h2 a {
    color: #34495e;
}



@keyframes rotate-bg {
  0% { background-position: 0 100%; }
  100% { background-position: 50em 100%; }
}

@media (max-width: 768px) {
    .image-caption {
        width: 192px;
    }
}

@media (min-width: 768px) {
    .image-caption {
        width: 250px;
    }
}

.image-caption {
    float: right;
    border: 1px solid #ddd;
    padding: 3px;
    margin: 7px;
    font-size: 14px;
    text-align: center;
}

article img {
    cursor: pointer;
    border: 1px solid #ddd;
    width: 100%;
}

article > img {
    display: none;
}

.modal-body {
    text-align: center;
}

.modal-body img {
    max-width: 100%;
}

.read-more {
    clear: both;
    padding: 0 35px 0 0;
}

.article-footer {
    clear: both;
    color: #777;
    margin: 40px 0 0 0;
}

.article-footer .glyphicon {
    padding: 10px;
}

.tag {
    padding: 0 12px 0 0;
}

.archive {
    font-size: 16px;
    list-style-type: none;
    padding: 0;
}

.archive a {
    color: #F9690E;
}

.archive li {
    line-height: 1.5;
}

.archive li .glyphicon {
    font-size: 12px;
    padding: 0 5px 0 0;
}

.archive .month {
    font-size: 11px;
}


/* Forces all tables to use something similar to bootstrap. */
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table > thead > tr > th {
    background-color: #F5F5F5;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
    padding: 5px;
}

table > tbody > tr > td {
    border: 1px solid #ddd;
    padding: 5px;
}
